<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bulma/css/bulma.min.css" rel="stylesheet">
</head>

<body>
  <section class="hero is-fullheight has-background-info-dark">
	  <!-- Hero head: will stick at the top -->
	  <div class="hero-head has-text-light m-3">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="mdb.html">
						<div class="content has-text-weight-semibold is-size-3 has-text-warning">
							<p>
								PiCocktailMixer
							</p>
						</div>
					</a>

					<a role="button" class="navbar-burger burger is-acitve" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div class="navbar-menu">
					<div class="navbar-end">
						<a class="navbar-item" href="mdb.html">
							Home
						</a>

						<a class="navbar-item" href="/mix.html">
							Mixen
						</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								Rezepte
							</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="recipes.html">
									Rezepte
								</a>
								<div class="navbar-item">
									<div class="field">
										<div class="control">
											<input class="input is-primary" type="text" placeholder="search">
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="navbar-item" href="admin.html">
							Admin
						</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<figure class="image is-3by1 mt-100">
		<img src="pic_vol/csm_start-banner_80a23bf260.jpg">
	</figure>
			<script>
				$(document).ready(function() {

					// Check for click events on the navbar burger icon
					$(".navbar-burger").click(function() {

							// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
							$(".navbar-burger").toggleClass("is-active");
							$(".navbar-menu").toggleClass("is-active");

					});
				});
			</script>
      <div class="hero-body">
        <div class="container mt-5">
          <div class="columns is-centered">
            <div class="column is-one-fifth">
              <div class="content">
                <p>
                  melde dich an
                </p>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="username" id="userlog">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" id="passlog">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button onclick=login() class="button is-success">
                    Login
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function login() {
      const username = "";
      const password = "";
      user_log = document.getElementById("userlog").value
      pass_log = document.getElementById("passlog").value
      if (user_log == username) {
        if (pass_log == password){
          //do some stuff
          console.log("correct")
          location.href = "change_drinks.html"
        } else {
          alert("password incorrect")
        }
      } else {
        alert("username incorrect")
      }
    }
  </script>
</body>

</html>
